{% extends 'base.html' %}
{% block content %}
    <h2 class="mb-5">
        Welcome to Game Gauntlets Generator!
    </h2>

    <h3>
        Customizable gauntlet rules
    </h3>
    <p>
        Choose different win conditions, point assigment
    </p>

    <h3>
        Games chosen and added manually
    </h3>
    <p>
        You don't get 40 hours long jrpg or any unplayable bugged games
    </p>

    <h3>
        Games sorted by difficulty & length
    </h3>
    <div>
        All games have 3 difficulty types:
        <ul>
            <li>Easy</li>
            <li>Normal</li>
            <li>Hard</li>
        </ul>
        , and 3 length types:
        <ul>
            <li>Short</li>
            <li>Normal</li>
            <li>Long</li>
        </ul>
        which are calculated by voting of service users.
    </div>
{% endblock %}